.asso-button {
   outline: 0; 
   margin: 0.2em; 
   padding: .4em 1em; 
   text-decoration:none !important; 
   cursor:pointer; 
   position: relative; 
   text-align: center; 
   zoom: 1;
}

ul.asso-buttons-list {
    margin: 0.5em;
    padding: 0;
    list-style-type: none;
}

ul.asso-buttons-list li {
    float: left;
	margin-bottom: 0.5em;
}

.asso-float {
	float: left;
}
.asso-float-right {
	float: right;
}

.asso-clear {
	clear: both;
}