html {
	font-size: 100%;
}

body {
	font-family: calibri;
    background-color: #E6E0EC;
    color: #376092;
    padding: 10%;
	padding-top: 1em;
    margin: 0;
    height: 100%;
    vertical-align: baseline;
}

ul, ol {
    margin: .75em 0 .75em 24px;
    padding: 0;
}

#header {
	background: url('../img/css/logo.png') no-repeat left;
	margin-bottom: 2em;
}

#header div {
	margin-left: 70%;
	padding: 0.2em;
	border: 3px solid white;
}

#container {
	clear: both;
	border: 3px solid white;
	background-color: #EEEEEE;
	margin: auto;
	-webkit-box-shadow: #CCC 4px 0px 10px, #CCC -4px 0px 10px, #AAA 0px 38px 36px -24px;
    -moz-box-shadow: #CCC 4px 0px 10px, #CCC -4px 0px 10px, #AAA 0px 38px 36px -24px;
    box-shadow: #CCC 4px 0px 10px, #CCC -4px 0px 10px, #AAA 0px 38px 36px -24px;
}

#container nav {
	height: 2em;
	border-bottom: 2px solid white;
}

#container nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#container nav li {
	float: left;
}

#container nav li a {
	background-color: #CCCCFF;
    border-right: 1px solid white;
	height: 2em;
	display: block;
	padding-left: 0.7em;
	padding-right: 0.7em;
	text-align: center;
	text-decoration: none;
}

#content {
	padding: 1em;
	overflow: auto;
}


#footer {
	margin-top: 2em;
	text-align: center;
}










#content table
{
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0.5em auto;
}

#content td, #content th
{
    border: 1px solid black;
    padding: 0.2em;
}

#content thead th, #content tfoot th
{
    text-align: center;
    font-weight: bold;
    background-color: #E6E0EC;
    padding: 0.2em;
}

tr:nth-child(even) {
	background: #FAFAFA;
}
tr:nth-child(odd) {
	background: #EEEEEE;
}






#content fieldset {
	margin: 1em auto;
}