{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}

	<h2>Inscrivez-vous en quelques secondes !</h2>
	
    {% include "FOSUserBundle:User:new_content.html.twig" %}
	
{% endblock content %}
