.project
.settings
.gitignore
.buildpath
app/cache/*
app/logs/*
app/config/parameters_dev.ini
app/config/parameters_prod.ini
app/bootstrap.php.cache
app/bootstrap_cache.php.cache
vendor/*
*.db
web/bundles
web/css
web/js
web/img