{% extends "AssoBookBundle::layout.html.twig" %}

{% block asso_book_body %}
	<form action="{{ path('asso_book_new') }}" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}

	    <input type="submit" />
	</form>
{% endblock %}