{% extends "AssoBookBundle::layout.html.twig" %}

{% block asso_book_body %}

	{% if app.session.hasFlash('notice') %}
	    <div class="flash-notice">
	        {{ app.session.flash('notice') }}
	    </div>
	{% endif %}


	{{ account.name }} - {{ account.wrap }}
	
{% endblock %}