{% extends "AssoSiteBundle::layout.html.twig" %}

{% block body %}
	<p>
		OK accueil !
	</p>
	<p>
		Il n'y a pas grand chose à faire ici... peut-être avez-vous envie de découvrir le backend des Associations ? <a href="{{ path('asso_am_home') }}">C'est par ici ! (utilisateurs identifiés)</a>
	</p>
	
{% endblock %}