<html>
	<head>
		{% block stylesheets %}{% endblock %}
		
		<script type="text/javascript" src="{{ asset('bundles/assoam/js/jquery-1.6.1.min.js') }}"></script>
		{% block javascripts %}{% endblock %}
	</head>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>