{% extends "::layout.html.twig" %}

{% block body %}
	<h1>Asso\TestBundle\CreateAction > Create something...</h1>
	
	<form action="{{ path('AssoTestCreate') }}" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	
	    <input type="submit" />
	</form>

{% endblock %}