{% extends "AssoTestBundle::layout.html.twig" %}

{% block content %}

	<h1>Asso\TestBundle\list > Here is the list of...</h1>

	{% include "AssoTestBundle:Default:listBase.html.twig" %}
	
{% endblock %}